/* Cycles through dice Unicode symbols. */

.dice-roll-icon {
    font-size: 1.5em;
    font-weight: 800;
    padding-right: 0.4em;
}

.dice-roll-icon::after {
    content: '';
    animation: rolling 4s linear infinite;
}

@keyframes rolling {
  0% {content:'\2680';}
  20% {content:'\2681';}
  40% {content:'\2682';}
  60% {content:'\2683';}
  80% {content:'\2684';}
  100% {content:'\2685';}
}
