#
# Frontend
#

# Dependencies
web/node_modules

# Testing
web/coverage
web/coverage-ts

# Production
web/build
web/build-presite

# Env files
web/*.local
web/*.production

# NPM logs
web/npm-debug.log*

#
# Backend
#

# Prod stuff
prod*

# Redis db
*.rdb