# Common
########

# Built stuff
out/
# Prod stuff... affects filenames
prod*
# Redis db
*.rdb

# Frontend
##########

# Dependencies
web/node_modules

# Testing
web/coverage
web/coverage-ts

# Production
web/build
web/build-presite

# Env files
web/*.local
web/*.production

# NPM logs
web/npm-debug.log*
web/tsconfig.tsbuildinfo
