/*
    Attribute Panel

The form should be a flexbox that initially groups items line by line.
On larger screen sizes we can mess with grouping them together.
*/
#edit-attributes-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media all and (min-width: 768px) {
    #edit-attributes-panel {
        margin-left: 10px;
        min-width: 26em;
        max-width: 26em;
    }
    #edit-attributes-form {
    }
}

.attribute-panel-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/*
.edit-attributes-panel-name {
    flex-grow: 2;
}

.edit-attributes-panel-input {
    flex-grow: 1.1;
}
*/
