.roll-record-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.roll-record-label {
    font-size: 1em !important;
}

.roll-record-info {
    margin-right: auto;
    text-align: left;
}

.roll-record-message {
    margin-left: 10px;
}


.roll-record-buttons {
    align-self: flex-end;
    margin-left: auto;
}

/* Non-mobile stuff. */
@media all and (min-width: 768px) {
    .roll-record-panel {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .roll-record-info {
        margin-bottom: 0px;
    }
}
