.roll-record-entry {
    height: 140px;
    max-height: 140px;
}

.roll-record-header {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.roll-record-buttons > button {
    border-width: 0px;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
}

.roll-record-buttons > button:focus {
    box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
    outline: 0px !important;
}

.roll-record-buttons > button:hover {
    background-color: #6c757da0;
}
