/*
    Containers
*/

#roll-input-panel-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

@media all and (min-width: 768px) {
    #roll-input-panel-form {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }
}

#roll-input-dice-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 768px) {
    #roll-input-dice-group {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

#roll-input-mode-group {
    margin-bottom: 15px;
}

@media all and (min-width: 992px) {
    #roll-input-mode-group {
        margin-bottom: 0px;
    }
}

.roll-input-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 768px) {
    .roll-input-options {
        margin-left: 15px;
        margin-right: 0px;
        margin-bottom: 0px !important;
    }
}

#roll-input-submit-group {
    margin-bottom: 0px;
}

@media all and (min-width: 768px) {
    #roll-input-submit-group {
        align-self: flex-end;
        margin-left: auto;
    }
}

.roll-list-container {
    padding-top: 20px;
}

/*
    Results
*/

.roll-record-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media all and (min-width: 768px) {
    /* Don't need to undo any mobile stuff. */
}

.roll-record-message {
    margin-left: 10px;
}

.roll-record-right {
    align-self: flex-end;
    margin-left: auto;
}

/*
    Buttons
*/

#roll-input-mode {
    margin-right: 15px;
}

.roll-input-mode-item {
    font-size: 1.2em;
}

#roll-mode-input-title {
}

.roll-mode-input-glyph {
    margin-left: 0.5em;
}

#roll-submit {
    /*align-self: flex-end;
    margin-left: auto;
    margin-right: 10px;*/
    margin-left: 15px;
}

.roll-menu-label {
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

.roll-loading-label {
    padding-right: 10px;
}

.sorted-dice-list {
    font-family: monospace;
}

.roll-record-message {
    font-size: 1.4em !important;
}

.roll-record-label {
    padding-top: 0.4em !important;
    font-size: 1.15em !important;
}

/*
    Animations
*/

.dice-roll-icon { /* HTML symbols */
    font-size: 1.5em;
    font-weight: 800;
    padding-right: 0.4em;
}

.dice-roll-icon::after {
    content: '';
    animation: rolling 4s linear infinite;
}

@keyframes rolling {
  0% {content:'\2680';}
  20% {content:'\2681';}
  40% {content:'\2682';}
  60% {content:'\2683';}
  80% {content:'\2684';}
  100% {content:'\2685';}
}
