.numeric-input {
    width: 9em !important;
    max-width: 9em !important;
    padding-right: 4px !important;
}

.numeric-input-suffix {
    font-family: monospace;
}

.form-group {
    margin-bottom: 0px !important;
}
