/*
    Attribute Panel

The form should be a flexbox that initially groups items line by line.
On larger screen sizes we can mess with grouping them together.
*/
#attribute-panel-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-width: auto;
    flex-shrink: auto;
}

@media all and (min-width: 768px) {
}

.attribute-panel-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.attribute-panel-name {
    flex-grow: 2;
}

.attribute-panel-input {
    flex-grow: 1;
}
