@import-normalize;

html {
    --space-tiny: 0.25rem;
    --space-small: 0.5rem;
    --space-med: 1rem;
    --space-large: 2rem;

    --breakpoint-mobile: 30rem;
    --breakpoint-leftcondensed: 62rem;
    --breakpoint-wide: 72rem;
    --breakpoint-max: 98rem;

    --font-size-small: 0.75rem;
    --font-size-reg: 1rem;
    --font-size-em: 1.25rem;
    --font-size-title: 1.5rem;

    --font-sans-serif: sans-serif;
    --font-monospace: "Source code Pro", Menlo, Calibri, monospace;

    font-size: 1rem;
    border-radius: 0;
}

/* Prevent focus online on non-focusable elements. */
/* Taken from bootstrap's reboot, which was taken from suitcss's base. */
[tabindex="-1"]:focus {
    outline: 0;
}

#root {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

    font-family: var(--font-sans-serif); /* source-sans-pro */
    line-height: 1;
    overflow: hidden; /* No more flickering scrollbars. Hopefully doesn't hide any issues. */
}

tt {
    font-family: var(--font-monospace);
}

body {
    margin: 0;
}

p {
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.scrollable {
    --scroll-color: #7b6a70;

    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) transparent;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border: 0 solid;
}

.scrollable::-webkit-scrollbar-track {
    background-color: transparent;
}

.sr-die {
    margin: 2px;
    height: 1em;
    width: 1em;
    min-height: 1em;
    min-width: 1em;
}
.sr-die-padded:nth-child(3n+0) {
    margin-right: 9px;
}

.sr-icon-svg {
    height: .85em;
    width: .85em;
    margin-right: .15em;
}
