/** Layout variables */

html {
    font-size: 1rem;
}

--break-mobile: "30rem";
--break-condensed: "62rem";
--break-wide: "76rem";
--break-max: "98rem";

--left-condensed: "62rem";
--left-wide: "76rem";


--layout-mode: "column";
--left-mode: "column";

/** Mobile: column condensed, full below */
@media all and (min-width: 30rem) {
    --layout-mode: "mobile";
    --left-mode: "condensed";
    --left-max: 30rem;
    --right-max: 32rem;
}

/** Condensed: left condensed, right condensed, right grows */
@media all and (min-width: 62rem) {
    --layout-mode: "condensed";
    --left-mode: "condensed";
}

/** Wide: left wide, right condensed, right grows, left grows */
@media all and (min-width: 76rem) {
    --layout-mode: "wide";
    --left-mode: "wide";
}

/** Max: left max width, right max width, right grows, padding */
@media all and (min-width: 98rem) {
    --layout-mode: "max";
    --left-mode: "wide";
}
