/* Pre-mobile */
.appMenus {
    composes: column from "./layout/flex.css";
    padding: var(--space-small);
}

.appMenus > *:not(last-child) {
    margin-bottom: var(--space-med);
}

.appRolls {
}

/* Mobile */
@media all and (min-width: calc(var(--breakpoint-mobile))) {
    .app-left {

    }
}

@media all and (min-width: )

/*
.app-left > *:not(last-child) {
    margin-bottom: var(--space-med);
}
*/
