/*
    Application styles
*/
.App {
  text-align: center;
}

/* Default:  half size title. */
.App-header {
  background-color: #222;
  height: 5.5em;
  padding: 0.4em;
  color: white;
}
.App-title {
  font-size: 2.5em;
  font-style: oblique;
  font-weight: 900;
}

/* Most screens: larger title */
@media all and (min-width: 576px) {
    .App-title {
        font-size: 4em;
    }
    .App-header {
        height: 8em;
        padding: 1.2em;
    }
}

.App-menu-panel-title {
    font-size: 4em;
    font-weight: 400;
}

/*
    Utilities
*/

.App-main {
    margin: 10px auto 0px;
    max-width: 98%;
}

@media all and (min-width: 576px) {
    .App-main {
        max-width: 98%;
        /*height: 84vh;
        max-height: 84vh;*/
        overflow: hidden;
    }
}

@media all and (min-width: 768px) {
    /** Cause this to be centered at the max width. */
    .App-main {
        max-width: 50em;
    }
}

@media all and (min-width: 992px) {
    .App-main {
        max-width: 120em;
    }
}

.numeric-input {
    width: 4em !important;
    padding-right: 4px !important;
}

.numeric-input-disabled {
    width: 3em !important;
    text-align: center;
}

.menu-label {
    font-size: 1.2em;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#App-window-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media all and (min-width: 768px) {
    #App-window-container {
        flex-direction: row;
    }
    /*
        This will give all of them flex grow, but we limit the max size of the
        attribute panel.
    */
    #App-window-container > * {
        flex-grow: 1;
    }
}

/* App navbar */
#app-navbar {
    text-align: left;
    margin-bottom: 0px;
}

/* Skills listing */
.panel-text-left {
    text-align: left;
}

.status-bar-well {
    padding: 14px;
}

/* Health bar */
.status-bar {
    display: flex;
    flex-direction: column;
    flex-basis: center;
    flex-wrap: wrap;
}

.status-label {
    margin-top: 10px;
    padding-top: 0.4em !important;
    font-size: 1.15em !important;
}

@media all and (min-width: 768px) {
    .status-bar {
        flex-direction: row;
    }
    .status-label {
        margin-top: 0px;
        margin-right: 10px;
    }
}

.scroll-list {
    max-height: inherit;
    height: auto;
    scroll-behavior: auto;
    overflow: auto;
}

.skill-tab-header {
    font-style: italic;
    padding-left: 2em;
}
