/*
    Application styles
*/

.App {
  text-align: center;
}

#roll-button-submit {
    background-image: linear-gradient(180deg,#337ab7 0,#3688c8);
    font-size: 1.05em;
    font-weight: 500;
}

/* Default:  half size title. */
.App-header {
  background-color: #222;
  height: 4em;
  padding: 0.9em;
  color: white;
}
.App-title {
  font-size: 2em;
  font-style: oblique;
  font-weight: 900;
}

/*
    Utilities
*/

.App-wide-container {
    margin: 1em auto 1em;
    max-width: 98%;
}

@media all and (min-width: 576px) {
    .App-wide-container {
        max-width: 98%;
    }
}

@media all and (min-width: 768px) {
    /** Cause this to be centered at the max width. */
    .App-wide-container {
        max-width: 50em;
    }
}

@media all and (min-width: 992px) {
    .App-wide-container {
        max-width: 80%;
    }
}

@media all and (min-width: 1300px) {
    .App-wide-container {
        max-width: 92em;
    }
}

.menu-label {
    font-size: 1.2em;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
